.page1 {
	background-image: linear-gradient(rgba(0, 153, 51, 0.9),rgba(255, 255, 0, 0.8));
	height: 100%;
}
.image1 {
	width: 700px;
}
.image2 {
	width: 700px;
}
.image3{
	width: 700px;
}
.image4 {
	width: 700px;
}
.image5 {
	width: 700px;
}
.image6 {
	width: 700px;
}
